@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

*{
    margin: 0;
    padding: 0;
    font-family: Outfit;
}

@media (max-width:740px){
    .active p{
        @apply text-white bg-primary
    }
}
/* body{
    background-color: black;
    color: white;
} */